<html lang="en">

<head>

    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>

    <style>
        body {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
            font-size: 22px;
            position: relative !important;
        }

        a,
        a:hover {
            text-decoration: none !important;
            color: black !important;
        }

        .test {
            padding-top: 50px;
            /*padding-bottom: 40px*/
        }

        .test1 {
            padding-top: 50px;
            /*padding-bottom: 40px*/
        }

        /* h1, h2, h3, h4 {
        voice-family: male;
        richness: 80;
        cue-before: url("beep.au")
        style="padding-top:70px;padding-bottom:70px"
    }*/
    </style>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head> <!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Patrick Ali CV</title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="1000">

    <nav class="navbar navbar-expand-lg bg-light navbar-light fixed-top">
        <a class="navbar-brand" href="/">Patrick Ali</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#introduction">Introduction</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#work-exp">Work Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="projects-a" href="#projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-info-a" href="#contact-info">Contact Information</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid pt-2">
        <div id="source-html" class="row">
            <div class="col">
                <div id="introduction" class="col pt-5 multi-sel">
                    <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
                        <h2>Introduction</h2>
                    </a>
                    <!--<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>-->
                    <div id="collapseOne" class="collapse" style="transition: all 0.6s ease 0s;">
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                    </div>
                </div>
                <div id="education" class="col multi-sel">
                    <a data-toggle="collapse" data-target="#collapseTwo" href="#collapseOne">
                        <h2>Education</h2>
                    </a>
                    <div id="collapseTwo" class="collapse" style="transition: all 0.6s ease 0s;">
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                    </div>
                </div>
                <div id="skills" class="col multi-sel">
                    <a data-toggle="collapse" data-target="#collapseThree" href="#collapseOne">
                        <h2>Skills</h2>
                    </a>
                    <div id="collapseThree" class="collapse" style="transition: all 0.6s ease 0s;">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead class="thead-light">
                                    <tr style="text-align: center;">
                                        <th class="w-25">Programming Languages</th>
                                        <th class="w-25">Hardware</th>
                                        <th class="w-25">Software</th>
                                        <th class="w-25">Practices/Methods</th>
                                    </tr>
                                </thead>
                                <tr>

                                </tr>
                            </table>
                        </div>
                        <h4>Soft Skills</h4>
                        <dl>
                            <dt>Test</dt>
                            <dd>- Testing</dd>
                        </dl>
                    </div>
                </div>

                <div id="work-exp" class="col multi-sel">
                    <a data-toggle="collapse" data-target="#collapseFour" href="#collapseOne">
                        <h2>Work Experience</h2>
                    </a>
                    <div id="collapseFour" class="collapse" style="transition: all 0.6s ease 0s;">
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                    </div>
                </div>
                <div id="projects" class="col">
                    <a data-toggle="collapse" data-target="#collapseFive" href="#collapseOne">
                        <h2>Projects</h2>
                    </a>
                    <div id="collapseFive" class="collapse" style="transition: all 0.6s ease 0s;">
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                        <p>Ex velit dolor ea nostrud non est in Lorem nulla exercitation non enim ipsum mollit.
                            In nisi minim amet excepteur sint laboris consequat duis labore nisi amet officia tempor. Ut
                            excepteur fugiat incididunt aliquip non sit quis ullamco excepteur aliqua enim laboris. Et
                            quis
                            quis
                            voluptate pariatur eu quis. Nisi sit occaecat esse cillum anim mollit est et laborum dolore
                            magna
                            exercitation. Ipsum voluptate dolore aliquip consequat Lorem nostrud dolor id commodo. Id ad
                            eu
                            commodo nisi laboris est.</p>
                    </div>
                </div>
                <div id="contact-info" class="col">
                    <a data-toggle="collapse" data-target="#collapseSix" href="#collapseOne">
                        <h2>Contact Information</h2>
                    </a>
                    <div id="collapseSix" class="collapse" style="transition: all 0.6s ease 0s;">
                        <!--Facebook-->
                        <a class="btn-floating btn-lg btn-fb" type="button" role="button" style="background-color: #3B5998;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fab fa-facebook-f" style="color: #fff"></i></a>
                        <!--Twitter-->
                        <a class="btn-floating btn-lg btn-tw" type="button" role="button" style="background-color: #55ACEE;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fab fa-twitter" style="color: #fff"></i></a>
                        <!--Linkedin-->
                        <a class="btn-floating btn-lg btn-li" type="button" role="button" style="background-color: #0082CA;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fab fa-linkedin-in" style="color: #fff"></i></a>
                        <!--Youtube
                        <a class="btn-floating btn-lg btn-yt" type="button" role="button" style="background-color: #CD201F;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fab fa-youtube" style="color: #fff"></i></a>-->
                        <!--Github-->
                        <a class="btn-floating btn-lg btn-git" type="button" role="button" style="background-color: #000;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fab fa-github" style="color: #fff"></i></a>
                        <!--Email-->
                        <a class="btn-floating btn-lg btn-email" type="button" role="button" style="background-color: #4B515D;
                        display: inline-block;
                        line-height: 37px;
                        position: relative;
                        overflow: hidden;
                        z-index: 1;
                        /* padding: 0; */
                        border-radius: 20%;
                        transition: .3s;
                        /* margin: 10px;"><i class="fas fa-envelope" style="color: #fff"></i></a>
                    </div>
                </div>

                <h2 style='display: none;'>Print CV</h2>
            </div>
        </div>
    </div>
    <div class="content-footer">
        <button id="btn-export" onclick="exportHTML();">Export to
            word doc</button>
    </div>
</body>

<script>

    console.log("scrolling")

    //On Scroll remove class from sections
    $(window).scroll(function () {
        console.log("Scrolled")
        console.log($(window).height()); // New height
        console.log($(window).width());
        $('.multi-sel').removeClass('test');
        $('#projects').removeClass('test');
    });

    //On clicking link add class to sections
    $('.navbar-nav>li>a').on('click', function () {
        $('.navbar-collapse').collapse('hide');
        console.log(this)
        if ($(window).width() < 900) {
            if (this.id != "contact-info-a" && this.id != "projects-a") {
                console.log(this.id)
                setTimeout(function () {
                    $('.multi-sel').addClass('test');
                }, 300);
            }
            else if (this.id == "projects-a") {
                console.log("projects")
                setTimeout(function () {
                    console.log("projects")
                    $('#projects').addClass('test');
                }, 300);
            }
            else {
                console.log("Click not recognised")
            }
        }
    });

    //On Clicking/Tapping Window
    $(window).click(function () {
        $('.navbar-collapse').collapse('hide');
    });

    function exportHTML() {
        var header = "<html xmlns:o='urn:schemas-microsoft-com:office:office' " +
            "xmlns:w='urn:schemas-microsoft-com:office:word' " +
            "xmlns='http://www.w3.org/TR/REC-html40'>" +
            "<head><meta charset='utf-8'><title>Export HTML to Word Document with JavaScript</title></head><body>";
        var footer = "</body></html>";
        var sourceHTML = header + document.getElementById("source-html").innerHTML + footer;

        var source = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(sourceHTML);
        var fileDownload = document.createElement("a");
        document.body.appendChild(fileDownload);
        fileDownload.href = source;
        fileDownload.download = 'document.doc';
        fileDownload.click();
        document.body.removeChild(fileDownload);
    }
</script>

</html>